.calendar-wrapper .react-calendar {
  width: 100%;
  background: transparent;
  border: none;
  color: white;
  font-family: inherit;
}

.calendar-wrapper .react-calendar__navigation button {
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  transition: 0.3s;
}

.calendar-wrapper .react-calendar__navigation button:hover {
  background: #2563eb;
}

.calendar-wrapper .react-calendar__month-view__weekdays {
  color: #60a5fa;
  font-weight: bold;
}

.calendar-wrapper .react-calendar__tile {
  color: white;
  border-radius: 12px;
  transition: 0.3s;
}

.calendar-wrapper .react-calendar__tile:hover {
  background: #1e40af;
  transform: scale(1.08);
}

.calendar-wrapper .react-calendar__tile--active {
  background: linear-gradient(135deg, #2563eb, #06b6d4);
  color: white;
  box-shadow: 0 0 18px rgba(59,130,246,.9);
}

.calendar-wrapper .react-calendar__tile--now {
  background: rgba(59,130,246,.25);
  border: 1px solid #3b82f6;
}

.calendar-wrapper .react-calendar__month-view__days__day--weekend {
  color: #fb7185;
}

.calendar-wrapper .react-calendar__month-view__days__day--neighboringMonth {
  color: #64748b;
}